<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boka.cloud.mapper.RecordMapper">

    <insert id="saveRecord" parameterType="Record">
		insert into t_record(recordId, phone, content, userId, username, deviceId, phoneType, phoneVersion, appName, appVersion,
		product, smsType, status, ip, custId, compId)
		values(#{recordId}, #{phone}, #{content}, #{userId}, #{username}, #{deviceId}, #{phoneType}, #{phoneVersion}, #{appName}, #{appVersion},
		#{product}, #{smsType}, #{status}, #{ip}, #{custId}, #{compId})
	</insert>

	<select id="findAll" resultType="Record">
		select * from t_record
	</select>
</mapper>
